// css img, button, heading, title, input, elements, components...
img {
    max-width: 100%;
    height: auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    &.--center {
        margin: 0 auto;
        display: block;
    }
}
a {
    text-decoration: none;
}

// colors (tuỳ chỉnh)
.--white-cl {
    color: $white-cl;
}
.--black-cl {
    color: $black-cl;
}
.--blue-cl {
    color: $blue-cl;
}

// css article (nội dung chi tiết bài viết)
article {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        // font-family: ib; // font bold
        display: block;
    }
    h1 {
        font-size: var(--h1-fs);
        line-height: var(--h1-lh);
        margin: 0 0 0.67rem 0;
    }
    h2 {
        font-size: var(--h2-fs);
        line-height: var(--h2-lh);
        margin: 0 0 0.75rem 0;
    }
    h3 {
        font-size: var(--h3-fs);
        line-height: var(--h3-lh);
        margin: 0 0 0.83rem 0;
    }
    h4 {
        font-size: var(--h4-fs);
        line-height: var(--h4-lh);
        margin: 0 0 1.12rem 0;
    }
    h5 {
        font-size: var(--h5-fs);
        line-height: var(--h5-lh);
        margin: 0 0 1.5rem 0;
    }
    h6 {
        font-size: 0.67rem;
        margin: 0 0 1.67rem 0;
    }

    p {
        margin: 0 0 1.12rem 0;
    }
    strong {
        // font-family: ib; // font bold
    }
    ol,
    ul {
        list-style: initial;
        padding-left: 18px;
    }
    img {
        display: inline-block;
        height: auto;
        overflow: hidden;
        border-radius: 10px;
        margin: 25px auto;
    }
    .video {
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        position: relative;
        margin: 25px auto;
        iframe,
        video {
            position: absolute;
            @include size(100%);
            top: 0;
            left: 0;
        }
    }
    @include xs {
        img {
            margin: 20px auto;
        }
    }
}

.heading {
    font-family: beb;
    &.--h1 {
        font-size: var(--h1-fs);
        line-height: var(--h1-lh);
    }
    &.--h2 {
        font-size: var(--h2-fs);
        line-height: var(--h2-lh);
    }
    &.--h3 {
        font-size: var(--h3-fs);
        line-height: var(--h3-lh);
    }
}

.company {
    color: $pink-cl;
    font-family: beb;
}

.btnmain {
    font-size: 22px;
    color: $white-cl;
    padding: 8px 56px;
    border: 2px solid $white-cl;
    border-radius: 4px;
    background-color: transparent;
    font-family: sb;
    transition: $t $cubic;
    cursor: pointer;
    &:hover {
        background-color: $white-cl;
        color: $pink-cl;
    }
}

.btnprimary {
    font-size: 22px;
    border-radius: 8px;
    color: $white-cl;
    padding: 8px 56px;
    border: 2px solid $pink-cl;
    background-color: $pink-cl;
    letter-spacing: 0.2rem;
    font-family: sb;
    transition: $t $cubic;
    cursor: pointer;
    &:hover {
        background-color: transparent;
        color: $pink-cl;
    }
}

.input {
    height: 48px;
    width: 100%;
    border: none;
    border-bottom: 1px solid $gray-cl;
    background-color: transparent;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.line-before {
    content: "";
    display: block;
    width: 56px;
    margin-right: 12px;
    height: 2px;
    background-color: $pink-cl;
}

.title {
    display: flex;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.totop {
    position: fixed;
    padding: 4px 8px;
    bottom: 16%;
    right: 2%;
    transform: rotate(90deg);
    text-transform: uppercase;
    color: $black-cl;
    border: 1px solid $black-cl;
    display: none;
    border-radius: 12px;
    &:hover {
        cursor: pointer;
    }
    &.active {
        display: block;
    }
}

.card {
    display: flex;
    flex-direction: column;
    height: 460px;
    position: relative;
    box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.62);
    -webkit-box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.62);
    &__img {
        height: 0;
        padding-bottom: 320px;
        position: relative;
        img {
            position: absolute;
            max-width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
    &__content {
        z-index: 15;
        padding: 20px;
        color: $black-cl;
        &-name {
            font-size: 20px;
            margin-bottom: 8px;
            font-family: beb;
        }
        &-desc {
            margin-bottom: 8px;
            font-size: 16px;
        }
        &-action {
            float: right;
            font-size: 12px;
            font-family: beb;
        }
    }

    .overlay {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $pink-cl;
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
        transition: $t $cubic;
        z-index: 10;
    }

    &:hover {
        .card__content {
            &-name {
                color: $white-cl;
                font-size: 42px;
                line-height: 40px;
                margin-bottom: 12px;
                transition: $t $cubic;
            }
        }
        .overlay {
            clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
            opacity: 0.7;
        }
    }
    &:nth-child(2),
    &:nth-child(5) {
        .overlay {
            background-color: $purple-cl;
        }
        flex-direction: column-reverse;
    }
    &:nth-child(3),
    &:nth-child(6) {
        .overlay {
            background-color: $yellow-cl;
        }
    }
}
