// css header

.header {
    z-index: 100;
    height: var(--height-header);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #ffffff, $alpha: 0.1);
    display: flex;
    align-items: center;
    transition: $t $cubic;
    .container-fluid {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        .header__logo {
            height: 100%;
            &-img {
                height: 100%;
                img {
                    height: 100%;
                }
            }
        }
        .header__menu {
            display: flex;
            gap: 42px;
            &-item {
                a {
                    color: $pink-cl;
                    font-size: 28px;
                    font-family: sb;
                }
            }
        }
    }
    &.show {
        background-color: $black-cl;
        height: 60px;
    }
}
