// CSS HOMEPAGE
@keyframes scrolldownline {
    0% {
        height: 0%;
        transform: translate(0%, 0%);
    }
    50% {
        height: 100%;
    }
    100% {
        height: 100%;
        transform: translate(0%, 100%);
    }
}

.schero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    &__video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .scroll-alert {
        position: absolute;
        bottom: 12px;
        color: $white-cl;
        font-family: bsb;
        .line {
            overflow-y: hidden;
            height: 80px;
            margin: 0 auto;
            &-scroll {
                display: block;
                width: 2px;
                height: 100%;
                margin: 0 auto;
                background-color: $white-cl;
                animation: scrolldownline 1s ease-in-out infinite;
            }
        }
    }
}

.scdesc {
    padding: 80px;
    background-color: $pink-cl;
    color: $white-cl;
    text-align: center;
    .--h2 {
        font-size: 28px;
        line-height: 32px;
        font-family: ws;
        margin-bottom: 24px;
    }
}

.sctrust {
    padding: 80px 0;
    background-image: url(../../../img/bg.png);
    &__heading {
        font-size: 24px;
    }
    &__list {
        display: flex;
        margin-top: 36px;
        gap: 24px;
        &-item {
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.scservices {
    height: 100vh;
    padding: 80px 0;
    background-color: $bg-main;
    .container-fluid {
        .scservices__heading {
            color: $white-cl;
            margin-bottom: 24px;
        }
        .scservices__content {
            &-list {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                .item {
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 300px;
                    color: $white-cl;
                    font-size: 42px;
                    text-align: center;
                    line-height: 56px;
                    .overlay {
                        height: 100%;
                        width: 100%;
                        transition: $t $cubic;
                        opacity: 0;
                        pointer-events: none;
                    }
                    .heading {
                        position: absolute;
                    }
                    &:hover {
                        .overlay {
                            opacity: 0.5;
                            pointer-events: auto;
                        }
                    }
                }
            }
        }
    }
}

.scproduct {
    padding: 80px 0;
    background-image: url(../../../img/bg.png);
    .title {
        justify-content: center;
    }
}

.scabout {
    background-image: url(../../../img/bg.png);
    padding: 60px 0;
    &__content {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        &-left {
            font-size: 40px;
            line-height: 60px;
            grid-column: 1/7;
            margin: auto 0;
        }
        &-right {
            grid-column: 8/13;
        }
    }
}

.sccontact {
    padding: 80px 0;
    .sccontact__form {
        margin-top: 36px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 24px;
        &-field {
            grid-column: 1/7;
            .group {
                display: flex;
                gap: 24px;
            }
            .input {
                margin-bottom: 36px;
            }
            .list-services {
                display: flex;
                gap: 64px;
                margin-bottom: 24px;
                font-size: 16px;
                .item-label {
                    font-size: 16px;
                }
            }
        }
        &-info {
            grid-column: 8/13;
            h6 {
                font-size: 20px;
                margin-bottom: 16px;
                color: $gray-cl;
            }
            p {
                font-size: 30px;
                font-family: bm;
            }
            .inforow {
                margin-bottom: 48px;
            }
        }
    }
}
