// CSS HOMEPAGE
@keyframes scrolldownline {
    0% {
        height: 0%;
        transform: translate(0%, 0%);
    }
    50% {
        height: 100%;
    }
    100% {
        height: 100%;
        transform: translate(0%, 100%);
    }
}

.schero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    &__video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .scroll-alert {
        position: absolute;
        bottom: 12px;
        color: $white-cl;
        font-family: bsb;
        .line {
            overflow-y: hidden;
            height: 80px;
            margin: 0 auto;
            &-scroll {
                display: block;
                width: 2px;
                height: 100%;
                margin: 0 auto;
                background-color: $white-cl;
                animation: scrolldownline 1s ease-in-out infinite;
            }
        }
    }
}

.sctrust {
    height: 100vh;
    padding: 0px 0px 120px 0px;
    color: $black-cl;
    .title-group {
        padding: 120px 80px 80px 80px;
        background-color: $pink-cl;
        text-align: center;
        margin-bottom: 42px;
        .heading {
            color: $white-cl;
            font-family: br;
            font-size: 32px;
            font-style: italic;
            margin-bottom: 32px;
        }
    }
    &__heading {
        font-size: 24px;
    }
    &__list {
        height: 200px;
        position: relative;
        .flickity-viewport {
            height: 100%;
            .flickity-slider {
                transform: translateX(0);
            }
        }
        &-item {
            margin-right: 24px;
            height: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            img {
                height: 40%;
            }
        }
    }
}

.scservices {
    height: 100vh;
    padding: 100px 0;
    background-color: $bg-main;
    .container {
        .scservices__heading {
            .line-before {
                background-color: $white-cl;
            }
            color: $white-cl;
            margin-bottom: 24px;
        }
        .scservices__content {
            &-list {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 12px;
                .item {
                    overflow: hidden;
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 200px;
                    color: $white-cl;
                    font-size: 26px;
                    text-align: center;
                    line-height: 56px;
                    position: relative;
                    img {
                        height: 100%;
                        width: 100%;
                        transform: scale(1);
                        transition: $t $cubic;
                    }
                    .heading {
                        transition: $t $cubic;
                        position: absolute;
                        z-index: 99;
                    }
                    .content {
                        position: absolute;
                        font-size: 18px;
                        line-height: 24px;
                        z-index: 99;
                        opacity: 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        transition: $t $cubic;
                        padding: 0 12px;
                    }
                    .more-text {
                        color: $white-cl;
                        font-size: 12px;
                        font-family: bsb;
                        position: absolute;
                        bottom: 0;
                        right: 16px;
                        opacity: 0;
                        transition: $t $cubic;
                        z-index: 99;
                    }
                    .overlay {
                        position: absolute;
                        display: block;
                        height: 100%;
                        width: 100%;
                        background-color: $black-cl;
                        opacity: 0;
                        transition: $t $cubic;
                    }
                    &:hover {
                        img {
                            transform: scale(1.1);
                        }
                        .heading {
                            margin-bottom: 40%;
                            font-size: 20px;
                        }
                        .content {
                            opacity: 1;
                        }
                        .more-text {
                            opacity: 1;
                        }
                        .overlay {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}

.scproduct {
    padding: 100px 0;
    .title {
        justify-content: center;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 36px;
        &-grid {
            width: 100%;
            display: grid;
            grid-gap: 8px;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.sccontact {
    height: 100vh;
    padding-top: 120px;
    text-transform: uppercase;
    .sccontact__form {
        margin-top: 36px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 24px;
        &-field {
            grid-column: 1/7;
            .group {
                display: flex;
                gap: 24px;
            }
            .input {
                font-size: 20px;
                margin-bottom: 48px;
            }
            .list-services {
                gap: 64px;
                margin-bottom: 24px;
                font-size: 16px;
                .item-label {
                    font-size: 16px;
                }
            }
        }
        &-info {
            grid-column: 8/13;
            h6 {
                font-size: 20px;
                margin-bottom: 16px;
                color: $gray-cl;
            }
            p {
                a {
                    font-size: 30px;
                    font-family: beb;
                    color: $black-cl;
                    cursor: pointer;
                    transition: $t $cubic;
                    &:hover {
                        color: $pink-cl;
                    }
                }
            }
            .inforow {
                margin-bottom: 48px;
            }
        }
    }
}
